/* reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    margin-bottom: 5px;
}

.container{
    width: 100%;
    margin-bottom: 20px;
}

.box {
    color: white;
    text-align: center;
    padding: 10px;
}

.row-padding {
    padding: 6px;
}
.nested-box {
    background-color: #01e165;
    margin: 1px;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
}



